<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.discardpast.louwailou.mapper.HouseImageMapper">

    <!-- HouseImage映射 -->
    <resultMap type="com.discardpast.louwailou.domain.HouseImage" id="BaseResultMap">
        <result property="id" column="id" jdbcType="BIGINT" />
        <result property="houseId" column="house_id" jdbcType="BIGINT" />
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" />
        <result property="deleted" column="deleted" jdbcType="BIT" />
            </resultMap>

    <sql id="Base_Column_List">
      id,house_id,image_url,create_time,update_time,deleted
    </sql>

    <!--通过用户Id查询房屋信息图片表-->
    <select id="selectHouseImageByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_house_image where deleted = 0 and user_id = #{userId}
    </select>
</mapper>
